* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;

  --gray-50: #f7f8fa;
  --gray-100: #e6e8eb;
  --gray-200: #afb2b1;
  --gray-500: #808080;
  --gray-800: #494d4b;
  --gray-900: #212121;

  --green-500: #4db646;
  --blue-500: #2e67fa;
}

/*
          Conforme a tela vai diminuindo, 
          a estrutura de font vai diminuindo também.
          Está em % por uma questão de assessibilidade: 
          por padrão, o todo o html começa com font-size: 16px,
          mas, se o user precisa, por n motivos, aumentar
          a fonte do distema, esse valor muda. Assim, 
          por questões de assessibilidade, é amplamente indicado 
          tudo ser o mais relativo possível.
      */

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; // 15px (por padrão)
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 87.5%; // 14px
  }
}

body {
  background: var(--gray-50);
  height: 100%;
}

body,
input,
textarea,
button {
  font: 500 1rem Inter, sans-serif;
  color: var(--gray-500);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: Lexend, sans-serif;
  color: var(--gray-800);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

button {
  cursor: pointer;
}
